.login {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/login_image.jpg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.login__row {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__burger-menu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;

  color: white;
  transition: background-color 0.5s ease;
}
.login__burger-menu:hover {
  color: black;
  background-color: white;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.login__title {
  color: white;
  margin-right: 35px;
  font-size: 45px;
  font-weight: 700;
}
.login__header {
  margin: auto;
  margin-top: 160px;
  width: 50%;
  padding: 10px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}
.login__desc {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  font-size: 23px;
  text-align: center;
  font-weight: 300;
}
.login__prompt {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  padding: 10px;
  font-weight: 700;
  margin-bottom: -10px;
  /* font-size: 50px; */
  text-align: center;
}
.login__form {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}
.input__cnic {
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin-right: 20px;
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
}
.input__cnic:focus {
  outline: none;
  border: none;
}

.input__name {
  padding: 15px;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
}
.input__name:focus {
  outline: none;
  border: none;
  margin-right: 20px;
}

.input__submit {
  padding: 15px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  padding-right: 70px;
  padding-left: 70px;
  background-color: #ff6600;
  color: white;
  font-weight: 600;
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.54);
}
